.main {
    border-radius: 10px;
    border-width: 7px;
    border-style: ridge;
    border-color: #e87800;
    background-color: rgba(255, 245, 200);
    text-align: center;
    color: #dd4447;
    max-width: 95%;
}

.map {
    border-radius: 5px;
    height: 40%;
    width: 60%;
    object-fit: cover;
    margin: auto;
    margin-bottom: 4%;
    margin-top: 1%;

}

.spongebob, .patrick, .squidward {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
