* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  cursor: url('../public/cursor.cur'), auto;
}

body{
  background: url("../public/StardewHomePageBg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Stardew_Valley;
  padding-bottom: 5%;
}

h1 {
    font-size: 4vw;
    color: #5f1001;
}

nav{
  overflow: hidden;
  top: 0;
  width: 100%;
}

.main {
    border-radius: 10px;
    border-width: 7px;
    border-style: ridge;
    border-color: #e87800;
    background-color: rgba(255, 245, 200);
    text-align: center;
    color: #dd4447;
    max-width: 95%;
    margin: auto;
}

.button{
    background: url("../public/StardewButton.png") no-repeat;
    font-family: "Stardew_Valley";
    color: #dd4447;
    font-size: 2vw;
    border: 0;
    width:11%;
    height:50px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-size: 100% 100%;
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
